{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}

[edit]
    command = "code"

[diff]
command = "code"
args = ["--wait", "--diff"]

[merge]
{{ if eq .chezmoi.os "darwin" -}}
command = "code"
args = ["--wait", "--merge"]
{{ end -}}
