[user]
	name = Duncan Beard
	email = {{ .email | quote }}

[core]
	autocrlf = true
	longpaths = true
{{ if (eq .chezmoi.os "windows") }}
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{ end }}

[push]
	autoSetupRemote = true