[user]
	name = Duncan Beard
	email = {{ $email | quote }}

{{ if (eq .chezmoi.os "windows") }}
[core]
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[safe]
	directory = C:\\Users\\duncanbeard\\Notes
	directory = C:/Users/duncanbeard/Notes
{{ end }}