{:logseq-journals-calendar {:version "v0.10.10", :repo "xyhp915/logseq-journals-calendar", :effect false, :theme false}
 :logseq-bonofix-theme {:version "v3.10.4", :repo "sansui233/logseq-bonofix-theme", :effect false, :theme true}
 :logseq-laurel-theme {:version "v1.8.8", :repo "pengx17/logseq-laurel-theme", :effect false, :theme true}
 :logseq-developer-theme {:version "v1.2.17", :repo "UNICKCHENG/logseq-developer-theme", :effect false, :theme true}
 :logseq-heatmap {:version "v2.4.3", :repo "pengx17/logseq-plugin-heatmap", :effect true, :theme false}
 :logseq-copy-code-plugin {:version "v.1.2.0", :repo "vyleung/logseq-copy-code-plugin", :effect true, :theme false}
 :logseq-code-formatter {:version "v1.1.1", :repo "PerfectPan/logseq-plugin-code-formatter", :effect false, :theme false}
 :logseq-monokai {:version "v0.1.1", :repo "tzcl/logseq-monokai", :effect false, :theme true}
 :logseq-markdown-table {:version "v1.8.1", :repo "haydenull/logseq-plugin-markdown-table", :effect false, :theme false}
 :logseq-todo-plugin {:version "v1.21.0", :repo "ahonn/logseq-plugin-todo", :effect true, :theme false}
 :logseq-tags {:version "v0.1.2", :repo "gidongkwon/logseq-plugin-tags", :effect false, :theme false}
 :logseq-block-to-page {:version "v1.3.0", :repo "hyrijk/logseq-plugin-block-to-page", :effect false, :theme false}
 :logseq-awesome-links {:version "v1.15.16", :repo "yoyurec/logseq-awesome-links", :effect true, :theme false}
 :logseq-open-in-vs-code {:version "v0.0.6", :repo "ThinkSalat/logseq-open-in-code", :effect true, :theme false}}
